#---------------------------------------------------------------------------------
# Secrets File....Shhhh, keep it secret!
#---------------------------------------------------------------------------------

# Password to log into the Home Assistant [web] interface
api_password: xxx
ha_ip_address: xxx

# Time Zone: Pick one from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
time_zone: xxx

# Simplisafe User and Password
simplisafe_username: xxx.xxx@xxx.com
simplisafe_password: xxx
simplisafe_pin: xxxx

#API Keys
ifttt_key: xxxxxxxxxxxxxxxxx
wunderground_key: xxxxxxxxxxxxx
darksky_api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
pushbulley_apikey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
google_travel_time_apikey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
lifx_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
waqi_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
waqi_location: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

xiaomi_key: xxxxxxxxxxxxxx

paloalto_clear_traffic_logs: "curl -k 'https://192.xxx.xxx.xxx/api/?type=op&cmd=<clear><log><traffic></traffic></log></clear>&key=THIS_IS_WHERE_YOUR_API_KEY_GOES'"
paloalto_clear_threat_logs: "curl -k 'https://192.xxx.xxx.xxx/api/?type=op&cmd=<clear><log><threat></threat></log></clear>&key=THIS_IS_WHERE_YOUR_API_KEY_GOES'"
paloalto_clear_alarm_logs: "curl -k 'https://192.xxx.xxx.xxx/api/?type=op&cmd=<clear><log><alarm></alarm></log></clear>&key=THIS_IS_WHERE_YOUR_API_KEY_GOES'"
paloalto_clear_authentication_logs: "curl -k 'https://192.xxx.xxx.xxx/api/?type=op&cmd=<clear><log><auth></auth></log></clear>&key=THIS_IS_WHERE_YOUR_API_KEY_GOES'"
paloalto_clear_config_logs: "curl -k 'https://192.xxx.xxx.xxx/api/?type=op&cmd=<clear><log><config></config></log></clear>&key=THIS_IS_WHERE_YOUR_API_KEY_GOES'"
paloalto_clear_system_logs: "curl -k 'https://192.xxx.xxx.xxx/api/?type=op&cmd=<clear><log><system></system></log></clear>&key=THIS_IS_WHERE_YOUR_API_KEY_GOES'"
paloalto_shutdown: "curl -k 'https://192.xxx.xxx.xxx/api/?type=op&cmd=<request><shutdown></shutdown></request>&key=THIS_IS_WHERE_YOUR_API_KEY_GOES'"
paloalto_restart: "curl -k 'https://192.xxx.xxx.xxx/api/?type=op&cmd=<request><restart></restart></request>&key=THIS_IS_WHERE_YOUR_API_KEY_GOES'"

# Name Cheap
########################################################################################################
namecheap_domain_name: xxxxxxxxx
namecheap_domain_password: xxxxxxxxxxxx
########################################################################################################

cognito_client_id: 'xxxxxxxxxxxxxxxxxxxxxx'
user_pool_id: 'xxxxxxxxxxxxxxxxxxxxxxx'

# ZWave Secure Key
#######################################################################################################
zwave_network_key: 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00

# Palo Alto Stuff
########################################################################################################
palo_alto_api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
palo_alto_vpn_users: https://xxx.xxx.xxx.xxx/api/?type=op&cmd=<show><global-protect-portal><current-user></current-user></global-protect-portal></show>&key=xxx

# USPS Stuff
########################################################################################################
usps_username: xxxxxxxxxx
usps_password: xxxxxxxxxx

# MySQL Stuff
########################################################################################################
my_sql_url: mysql://homeassistant:xxx@192.xxx.xxx.xx/XXX?charset=utf8

# Slack Stuff
########################################################################################################
slack_api_key: xxxx-xxxxxxxxxx-xxxxxxxxxxx-xxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#IKEA Stuff
ikea_gateway_ip: xxx.xxx.xxx.xxx
ikea_gateway_security_code: xxxxxxxxxxxx

# QNAP Stuff
########################################################################################################
qnap_username: xxxxxxxxxxxxx
qnap_password: xxxxxxxxxxxxx
qnap_hostname: xxx.xxx.x.xxx
########################################################################################################

# CAMERA STUFF
########################################################################################################
camera_username: xxxxxxxxx
camera_password: xxxxxxxxx

frontdoor_camera_ip: xxx.xxx.x.xxxx
frontdoor_camera_url: http://xxxx:yyyyyy@192.xxx.x.xxx/ISAPI/Streaming/channels/101/picture

driveway_camera_ip: 192.xxx.x.xxx
driveway_camera_url: http://xxxx:yyyyyy@192.xxx.x.xxx/ISAPI/Streaming/channels/101/picture

patio_camera_ip: 192.xxx.x.xxx
patio_camera_url: http://xxxx:yyyyyy@192.xxx.x.xxx/ISAPI/Streaming/channels/101/picture

playarea_camera_ip: 192.xxx.x.xxx
playarea_camera_url: http://xxxx:yyyyyy@192.xxx.x.xxx/ISAPI/Streaming/channels/101/picture

ohio_doppler_weather: 'https://icons.wxug.com/data/weather-maps/radar/united-states/dayton-ohio-region-current-radar-animation.gif'

########################################################################################################

google_maps_geocoding_api: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#Ecobee Credentials
ecobee_api_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Life 360 Credentials
life360_username: xxxx.xxxx@xxxx.com
life360_password: xxxxxxxxxxxxxxxxxxxx

# Google Calendar
google_client_id: xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
google_client_secret: xxxxxxxxxxxxxxxxxxxxxxxx
  
#URLS
weather_cold_flu_url: https://www.pollen.com/api/forecast/extended/cold/xxxxx
weather_pollen_url: https://www.pollen.com/api/forecast/current/pollen/xxxxx
#weather_pollen_url: https://www.pollen.com/api/forecast/outlook/xxxxx

# http://api.owm.io/air/1.0/uvi/current?lat={lat}&lon={lon}&appid={API key} is in the doc.
# https://openweathermap.org/api_uv

# PI-Hole Stuff
########################################################################################################
# Get the Pi-Hole Auth Key by running 'cat /etc/pihole/setupVars.conf' command on pihole server
pi_hole_url: http://192.xxx.x.xxx/admin/api.php
pi_hole_auth_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
########################################################################################################

factoftheday_url: http://api.icndb.com/jokes/random?limitTo=[nerdy]

aws_access_key_id: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
aws_secret_access_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/xxxxxxxxxxxxxxxxxxxx

# Ring
ring_username: xxxxxxxxxxxx.xxxxxxxxxx@xxxxx.com
ring_password: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Nest 
nest_client_id: xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxxxxxx
nest_secret: xxxxxxxxxxxxxxx

# Cloud MQTT Settings
# cloud_mqtt_username: xxxxxxxxxxxxx
# cloud_mqtt_password: xxxxxxxxxxxxx
# cloud_mqtt_server: xxx.cloudmqtt.com
# cloud_mqtt_port: xxxx

pi_hole_mqtt_username: xxxxxxxx
pi_hole_mqtt_password: xxxxxxxxxxx
pi_hole_mqtt_port: xxxxx
pi_hole_mqtt_server: 192.xxx.x.xxx

# Sharp TV User and Passwords
sharptv_username: xxxxxxxx
sharptv_password: xxxxxxxx
sharptv_ipaddress: 192.xxxx.x.xxx
sharptv_port: xxxxxxx

snapcast_server_ip: 192.xxx.xxxx.xxxxx
mopidy_server_ip: 192.xxx.x.xxx
mopidy_server_port: xxxx

#Birthdays
srinika_birthday: "mm-dd"
hasika_birthday: "mm-dd"
mallika_birthday: "mm-dd"

# Lights
philips_hue_ipaddress: 192.xxx.x.xxx

tplink_garage: 192.xxx.1.xxx
tplink_kids_bedroom: 192.xxx.1.xxx
tplink_guest_bedroom_1: 192.xxx.1.xxx
tplink_guest_bedroom_2: 192.xxx.1.xxx

lifx_broadcast_ip: 192.xxx.1.xxx

rf_switch_1_code_on: xxxxxx
rf_switch_1_code_off: xxxxx
rf_switch_1_pulselength: 100

rf_switch_2_code_on: xxxxx
rf_switch_2_code_off: xxx
rf_switch_2_pulselength: 100

rf_switch_3_code_on: xxxxxxxx
rf_switch_3_code_off: xxxxxxxxxx
rf_switch_3_pulselength: 100

rf_switch_4_code_on: xxxxxxxxx
rf_switch_4_code_off: xxxxxxxxx
rf_switch_4_pulselength: 100

rf_switch_5_code_on: xxxxxxxx
rf_switch_5_code_off: xxxxxxxxxx
rf_switch_5_pulselength: 100

wemo_switch_1: 192.xxx.1.xxx
wemo_switch_2: 192.xxx.1.xxx
wemo_switch_3: 192.xxx.1.xxx

# Zones: Latitude & Longitudes
home_longitude: -xx.xxxxxxx
home_latitude: xx.xxxxxx
home_elevation: xxx

work_latitude: xx.xxxxxxxxxxxx
work_longitude: -xx.xxxxx